<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Green Car Wash</span>
    <span class="example-spacer"></span>

    <button mat-raised-button color="primary" class="headerButton" (click)="openLogin()">Login</button>


    <button mat-raised-button color="primary" class="headerButton" (click)="openSignup()">Signup</button>

    <button mat-raised-button color="primary" class="headerButton">About us</button>

    <button mat-raised-button color="primary" class="headerButton" (click)="btnClick()">Get All Users</button>

    <button mat-raised-button color="primary" class="headerButton" (click)="logOut()">Logout</button>
  </mat-toolbar>