<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Green Car Wash</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" class="headerButton" (click)="logOut()">Logout</button>
</mat-toolbar>

<div class="body">


    <div class="container">
   
       <div class="washer">
           <h1>Welcome Washer!</h1>
        </div>
   
       <div class="column">
   
      
    <div class="column1">
       <div class="card1">
           <div class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="51" fill="currentColor" class="bi bi-clipboard2-data" viewBox="0 0 16 16">
                   <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                   <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                   <path d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1Z"/>
               </svg>
           </div>
           <div class="cardbody">
               <h2>View<br>Orders</h2>
            </div>
            <button class="button" style="vertical-align:middle" (click)="ViewPendingOrders()"><span>View Pending Orders</span></button>        </div>
   
   
            
    </div>
   
    <div class="column2">
       <div class="card2">
           <h1>Guidelines for Washers</h1>
   
           <h2>Hygiene Protocols:</h2>
           <p>Ensure you have on-site hand washing facilities including soap and water and hand sanitizers, and allow enough time to wash your hands frequently.</p>
           <p>All high-touch areas, such as desks, door handles, and toilets, should be cleaned and sanitized regularly.</p>
          
           <h2>Cleaning & Disinfecting:</h2>
           <p>Keep a cleaning log with the date, period, and extent of the cleaning.</p>
   
           <!-- <h2>3. Staff & Customer Management:</h2> -->
           <p>Staff should be trained on car wash safety principles, as well as current safety guidelines and precautions, such as hygiene and other steps intended to prevent the spread of disease.</p>
           <br>
           <!-- <h1>Tips & Tricks</h1> -->
           <div class="links">
           <p><iframe width="350" height="200" src="https://www.youtube.com/embed/NwvfC0sbWo8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
           <p><iframe width="350" height="200" src="https://www.youtube.com/embed/LI2rd8bXTLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
       </div></div>
   </div>
   </div>
   
   
   
   </div>
   </div>