mat-form-field{
    width:100%;
  }
  
  .content {
    max-width: 1500px;
    margin: auto;
  }
  
  table {
    width: 100%;
  }
  
  .container{
    max-width: 1200px;
    margin: 0 auto;
  
  }
  