
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon> local_car_wash</mat-icon>
    </button>
    <span>Green Car Wash</span>
    <span class="example-spacer"></span>

    <button mat-raised-button color="primary" class="headerButton" (click)="openLogin()">Login</button>


    <button mat-raised-button color="primary" class="headerButton" (click)="openSignup()">Signup</button>

    <button mat-raised-button color="primary" class="headerButton" (click)="aboutus()" >About us</button>

  </mat-toolbar>








  <div class="banner">
    <div class="page">
      <!--<nav>
        <ul>
          <li><button class="button1" ><b>Green Car Wash</b></button> </li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Airways</a></li>
          <li><a href="#">Book Tickets</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>-->

      <br>
      <div class="xyz">
        <h1>Green Car Wash</h1>
          <p>
            Get an amazing car care experience from the comfort of your home<br> 
            with our wide range of services performed by certified experts. 
          </p><br>
          <button class="button" style="vertical-align:middle" (click)="openLogin()"><span>Get Started</span></button> 
      </div>
    </div>
  </div>
  
  <div class="abc">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h2>Do you know us ?</h2><p></p>
          <p> Working in car care field for the past 5 years.  </p>
          <p> We passionately try to ensure the best possible solution for our customers.<br> 
            Simply call us and get your car washed in your convenient time at your place.
          </p>
        </div>
        <div class="col-lg-3" align="center">
          <button class="button" id="btn" type="submit" (click)="aboutus()"><span>Know More</span></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page2">
    <div class="container">
      <div class="choose">
        <h1>Why Choose Us</h1>
      </div>
      <div class="choosebody">
        <div class="row">
          <div class="card">
            <h2>Experience & Skills</h2>
            <p>Our experience and skill allows us to give the best car care service at your doorstep.</p>
          </div>
          <div class="card">
            <h2>Guaranteed Service</h2>
            <p>We work with guarantee and ensure you are satisfied with our work and smile before we leave.</p>
          </div>
          <div class="card ">
            <h2>Trusted <br>Effort</h2>
            <p>Our work is being trusted upon by numerous customers, so can put your trust on us as well. </p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abc">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h2>Get in touch with us</h2><p></p>
            <h3> 8501953889 </h3>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
               </svg> Call now
            </p>
            <h4>Working hours</h4>
            <p>Everyday 6:00 am to 6:00 pm : Sunday Closed</p>
        </div>  
        <div class="col-lg-3" align="center">
          <button class="button" id="btn" type="submit"><span>Contact Us</span></button>
       </div>
      </div>
    </div>
  </div>

 